
* {
    font-family: "Proxima Nova", "Helvetica", "sans-serif";
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Brandon Grotesque", "Helvetica", "sans-serif";
  }
  h1 *, h2 *, h3 *, h4 *, h5 *, h6 * {
    font-family: "Brandon Grotesque", "Helvetica", "sans-serif";
  }
  
  a {
    color: #00b5db;
  }
  a:hover {
    color: #0090af;
  }
  
  h1 {
    font-size: 2.6rem;
    line-height: 2.7777rem;
    font-weight: 600;
  }
  
  h2 {
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 500;
  }
  
  h3 {
    font-size: 1.555rem;
    line-height: 1.9444rem;
    font-weight: 600;
  }
  
  h4 {
    font-size: 1.222rem;
    line-height: 1.222rem;
    font-weight: 500;
  }
  
  p {
    font-size: 0.888rem;
    line-height: 1.5rem;
  }
  
  .btn {
    font-size: 0.888rem;
    font-weight: 700;
    line-height: 1.4375rem;
    border-radius: 99px;
    padding: 10px 33px;
    border-width: 2px;
    text-decoration:underline;
  }
  .btn:focus {
    outline: 0 !important;
  }
  .btn:hover {
    color: #0090af;
    text-decoration:underline !important;
  }
  .btn:active {
    box-shadow: none;
  }
  .btn.btn-primary:disabled, .btn.btn-secondary:disabled, .btn.btn-success:disabled {
    background-color: #686868;
    border-color: #686868;
    color: black;
  }
  .btn.btn-primary:disabled:hover, .btn.btn-secondary:disabled:hover, .btn.btn-success:disabled:hover {
    background-color: #686868;
    border-color: #686868;
  }
  .btn.btn-primary {
    background-color: #00b5db;
    border-color: #00b5db;
    color: white;
  }
  .btn.btn-primary:hover, .btn.btn-primary:focus, .btn.btn-primary:active {
    background-color: #0090af;
    border-color: #0090af;
  }
  .btn.btn-primary.btn-ghost {
    background-color: white;
    color: #00b5db;
  }
  .btn.btn-primary.btn-ghost:hover, .btn.btn-primary.btn-ghost:focus, .btn.btn-primary.btn-ghost:active {
    color: white;
    background-color: #00b5db;
    border-color: #00b5db;
  }
  .btn.btn-secondary {
    background-color: #f6416c;
    border-color: #f6416c;
    color: white;
  }
  .btn.btn-secondary:hover, .btn.btn-secondary:focus, .btn.btn-secondary:active {
    background-color: #dc3a60;
    border-color: #dc3a60;
  }
  .btn.btn-secondary.btn-ghost {
    background-color: white;
    color: #f6416c;
  }
  .btn.btn-secondary.btn-ghost:hover, .btn.btn-secondary.btn-ghost:focus, .btn.btn-secondary.btn-ghost:active {
    color: white;
    background-color: #f6416c;
    border-color: #f6416c;
  }
  .btn.btn-success {
    background-color: #38c8b5;
    border-color: #38c8b5;
    color: white;
  }
  .btn.btn-success:hover, .btn.btn-success:focus, .btn.btn-success:active {
    background-color: #21796d;
    border-color: #21796d;
  }
  .btn.btn-success.btn-ghost {
    background-color: white;
    color: #38c8b5;
  }
  .btn.btn-success.btn-ghost:hover, .btn.btn-success.btn-ghost:focus, .btn.btn-success.btn-ghost:active {
    color: white;
    background-color: #38c8b5;
    border-color: #38c8b5;
  }
  .btn.btn-lg {
    padding: 22px 60px;
  }
  
  label {
    font-size: 1rem;
    line-height: 1rem;
  }
  
  .form-group > label {
    color: #00b5db;
    font-size: 0.777rem;
    font-family: "Brandon Grotesque", "Helvetica", "sans-serif";
    font-weight: 400;
  }
  
  .form-group {
    margin-bottom: 2rem;
  }
  .form-group.untouched input {
    border-color: #9b9b9b;
  }
  .form-group.valid label {
    color: #42cc68;
  }
  .form-group.valid input {
    border-color: #42cc68;
    background-image: url(https://f.cl.ly/items/2A3g0p0y2o3O352N1I02/greencheck.svg);
    background-repeat: no-repeat;
    background-position: center right;
    background-size: 16px 13px;
  }
  .form-group.invalid label {
    color: #f6416c;
  }
  .form-group.invalid input {
    border-color: #f6416c;
    background-image: url(https://f.cl.ly/items/1r3Z373r3B1M1M222P2t/redx.svg);
    background-repeat: no-repeat;
    background-position: center right;
    background-size: 13px 13px;
  }
  .form-group input {
    border: 0px none;
    box-shadow: none;
    border-radius: 0;
    border-bottom: 1px solid #00b5db;
    padding: 8px;
    font-size: 1rem;
  }
  .form-group input:focus {
    box-shadow: none;
    outline: 0 !important;
  }
  .form-group input:disabled {
    background: white;
    border-bottom: 1px dashed #9b9b9b;
  }
  
  input[type=radio] {
    display: none;
  }
  input[type=radio] + label {
    padding: 0 0 0 2px;
  }
  input[type=radio] + label:before {
    border-radius: 99px;
    content: "";
    position: relative;
    left: -6px;
    top: 4px;
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #00b5db;
  }
  input[type=radio]:checked + label:after {
    position: absolute;
    left: 0px;
    top: 8px;
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 99px;
    background-color: #00b5db;
  }
  input[type=radio]:disabled + label {
    color: #9b9b9b;
    cursor: not-allowed;
  }
  input[type=radio]:disabled + label:before {
    border-color: #9b9b9b;
  }
  input[type=radio]:disabled + label:after {
    background-color: #9b9b9b;
  }
  
  input[type=checkbox] {
    display: none;
  }
  input[type=checkbox] + label {
    padding: 0 0 0 2px;
  }
  input[type=checkbox] + label:before {
    border-radius: 3px;
    content: "";
    position: relative;
    left: -6px;
    top: 4px;
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #00b5db;
    background-image: url(https://f.cl.ly/items/3C2T0P1j2v1M1Q323Y1q/whitecheck.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 13px 11px;
  }
  input[type=checkbox]:checked + label:before {
    background-color: #00b5db;
    content: "";
    color: white;
  }
  input[type=checkbox]:disabled + label {
    color: #9b9b9b;
    cursor: not-allowed;
  }
  input[type=checkbox]:disabled + label:before {
    border-color: #9b9b9b;
  }
  input[type=checkbox]:disabled:checked + label:before {
    background-color: #9b9b9b;
  }
  
  div.select-control {
    width: 80%;
    position: relative;
  }
  div.select-control a.select-control {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    user-select: none;
    display: inline-block;
    padding: 8px;
    width: 100%;
    border-bottom: 2px solid black;
    color: black;
    text-decoration: none;
    position: relative;
  }
  div.select-control a.select-control.disabled {
    border-bottom: 1px dashed #9b9b9b;
    color: #9b9b9b;
    cursor: not-allowed;
  }
  div.select-control a.select-control.disabled:after {
    border-color: #9b9b9b transparent transparent transparent;
  }
  div.select-control a.select-control:after {
    content: "";
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translate-y(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 6px 0 6px;
    border-color: #000000 transparent transparent transparent;
  }
  div.select-control.active .options {
    display: block;
  }
  div.select-control .options {
    z-index: 90;
    display: none;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 6px;
    overflow: hidden;
    position: absolute;
    top: 0px;
    background-color: white;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.4);
  }
  div.select-control .options li {
    padding: 0;
    margin: 0;
    list-style: none;
    padding: 13px;
    cursor: pointer;
  }
  div.select-control .options li:hover {
    background: #00b5db;
    color: white;
  }
  
  html {
    font-size: 18px;
  }
  
  body {
    background: #00b5db;
  }
  
  .application {
    display: flex;
    flex-direction: row;
  }
  .application .menu {
    padding-right: 200px !important;
    padding: 50px;
    padding-bottom: 100%;
  }
  .application .content {
    padding: 50px 20px 58px 58px;
    background: white;
    min-height: 100vh;
    flex-basis: 70%;
  }
  
  h2 {
    color: #00b5db;
    font-size: 1rem;
  }
  
  .rowbtmmargin {
    margin-bottom: 2rem;
  }
  
  .typesample {
    font-size: 2.6rem;
    margin: 0;
    line-height: 2.6rem;
  }
  .typesample.bg {
    font-family: "Brandon Grotesque", "Helvetica", "sans-serif";
  }
  
  .typelabel {
    color: grey;
    font-size: 0.77rem;
    margin: 0;
  }
  .menu{
    background-color: #0090af;
  }
  .menu .menucontent {
    position: fixed;
  }
  .menu .title {
    color: rgba(255, 255, 255, 0.7);
  }
  .menu .title a {
    color: rgba(255, 255, 255, 0.7);
  }
  .menu ul {
    padding: 0;
    margin: 0;
  }
  .menu li {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .menu li a {
    display: block;
    padding: 13px 0 13px 15px;
    border-radius: 3px;
    color: white;
    text-decoration: none;
  }
  .menu li a:hover {
    background: #0090af;
  }
  
  .colorbox {
    border-radius: 4px;
    min-width: 157px;
    height: 157px;
  }
  .colorbox.blue {
    background: #00b5db;
  }
  .colorbox.lightblue {
    background: #33c3e0;
  }
  .colorbox.darkblue {
    background: #0090af;
  }
  .colorbox.red {
    background: #f6416c;
  }
  .colorbox.darkred {
    background: #dc3a60;
  }
  .colorbox.orange {
    background: #f5ad49;
  }
  .colorbox.teal {
    background: #38c8b5;
  }
  .colorbox.green {
    background: #42cc68;
  }
  .colorbox.grey {
    background: #9b9b9b;
  }
  
  
  #colorboxes .row {
    margin-bottom: 1rem;
  }
  

   #typeface, #colorboxes, #buttons, #radios, #checkboxes, #forms, #dropdowns, #tables, #images, #videos {
    padding: 30px 0;
  }


  .table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  .table th {
    text-align: left;
    font-weight: normal;
    background-color: #0090af;
    color: white;
    padding: 10px 15px;
  }
  .table tbody tr {
    border-bottom: 1px solid #0090af;
  }
  .table tbody tr td {
    padding: 10px 15px;
  }


  .table td.cell-right {
    text-align: right;
  }
  .table-striped tbody tr:nth-child(even) {
    background-color: #eee;
  }


  div.image {
    position: relative;
    display: inline-block;

    border-radius: 15px;
    line-height: 0;
    overflow: hidden;
  }
  div.image span.caption {
    position: absolute;
    left: 0;
    bottom: 0px;
    text-align: center;
    display: inline-block;
    width: 100%;
    padding: 10px 0;
    background: #9b9b9b;
    color: white;
    line-height: normal;
  }

  div.image-invert span.caption {
    background: #9b9b9b;
  }

  .madeby{
    color:rgba(255, 255, 255, 0.7);  
  }